<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="dark-text">Acerca de nosotros</h5>
				<p class="dark-text text-lighten-12">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
			</div>
			<div class="col l4 offset-l2 s12">
                <h5 class="dark-text">Siguenos en:</h5>
                <ul>
                    <li><a class="white-text text-lighten-12" href="#!">Twitter</a></li>
                    <li><a class="white-text text-lighten-12" href="#!">Youtube</a></li>
                    <li><a class="white-text text-lighten-12" href="#!">Skype</a></li>
                    <li><a class="white-text text-lighten-12" href="#!">Facebook</a></li>
                </ul>
            </div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Copyright © 2015 Alejandro Ventura
		</div>
	</div>
</footer>
