<nav class="" role="navigation">
	<div class="nav-wrapper">

		<a id="logo-container" href="/" class="brand-logo">MatchingPeople</a>

		<ul class="right hide-on-med-and-down">
			<%= render 'layouts/navigation_links' %>
		</ul>

		<ul id="slide-out" class="side-nav">
			<%= render 'layouts/navigation_links' %>
		</ul>
		
		<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>